**/.idea/
**/.vscode/
**/gradlew
**/gradlew.bat
**/mvnw
**/mvnw.cmd
**/Include
**/Lib
**/Scripts
**/LICENSE.txt
**/pyenv.cfg
**/.gradle
**/.mvn
**/build
**/target
**/gradle
**/HELP.md
**/pyenv.cfg
**/__pycache__

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**//nbproject/private/
**//nbbuild/
**//dist/
**//nbdist/
**//.nb-gradle/
**/build/
!**/src/main/**/build/
!**/src/test/**/build/

arch.txt
cs_keywords.txt
todo.txt
VMOnDemand.html